* {
    margin: 0;
    padding: 0;
}
.a{
    text-decoration: none;
}
.ul{
    list-style: none;
}
.header{
    width: 100%;
    background: rgb(191, 136, 212);
    position: sticky;
    top: 0;
}
.logo {
    display: inline-block;
    background-color: blueviolet;
}
#logo {
    width: 10vh;
    margin: 5px;
}
.nav {
   max-width: 0;
   transform: max-height .5s ease-out;
}
.hamburger {
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}
.hamb-line {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}
.menu a {
    display: block;
    padding: 30px;
    color: white;
}
.menu a:hover {
    background-color: black;
}
.conteudo{
    width: 100%;
}
.rodape{
    width: 100%;
    text-align: center;
    background-color: rgb(106, 28, 109);
}
.img-mobile{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .menu{
        height: 100px;
        background-color: rgb(21, 119, 122);
    }
    .conteudo-home{
        display: flex;
        
    }
}
@media screen and (min-width: 1280px){
    .menu{
        height: 150px;
        background-color: rgb(170, 95, 117);
   }
}